altgraph==0.17.4
asgiref==3.9.1
cmake==4.0.0
Django==5.2.5
gunicorn==23.0.0
joblib==1.4.2
numpy==2.2.4
packaging==24.2
pefile==2023.2.7
pillow==11.2.1
pygame==2.6.1
pyinstaller==6.13.0
pyinstaller-hooks-contrib==2025.2
python-dateutil==2.9.0.post0
pywin32-ctypes==0.2.3
scikit-learn==1.6.1
scipy==1.15.2
setuptools==78.1.0
six==1.17.0
sqlparse==0.5.3
threadpoolctl==3.6.0
tzdata==2025.2
